body {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    background-color: green;
}

h2 {
    text-align: center;
    color: white;
    background-color: rgb(149, 228, 2);
}

img {
    height: auto;
    width: 350px;
}